@import "../utils/variables";

@mixin gray-degrade($color: $color-gray) {
    background-color: brightness($color, 15%);
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    @include gray-degrade($color-gray);
    & img{
        max-width: 70%;
        padding-bottom: 10px;
    }
    & .localisation_header{
        background-color: gray;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
        position: absolute;
        top: 0;
        left: 0;
        & i{
            margin-right: 20px;
        }
        & .label_localisation{
            margin-right: 20px;
        }
        & h1{
            margin-top: 10px;
        }
    }
    & .box_header{
        background-color: lightgray;
        position: relative;
        padding: 20px;
        padding-top: 60px;
        padding-bottom: 60px;
        min-width: 100%;
    }
}