@import "../utils/variables";
@import "../utils/mixins";

header{
    @include flex(column, space-between, center);
    & img{
        width: 200px;
    }
    & .localisation_header{
        background-color: lightgray;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
        position: absolute;
        top: 0;
        left: 0;
        & i{
            margin-right: 20px;
        }
        & .label_localisation{
            margin-right: 20px;
        }
    }
    & .box_header{
        display: flex;
        flex-direction: column;
        @include gray-degrade($color-gray);
        position: relative;
        padding-top: 60px;
        padding-bottom: 60px;
        min-width: 100%;
        text-align: center;
        align-items: center;
        & h1{
            margin-top: 30px;
        }
        & #label_h1_header{
            margin-bottom: 20px;
        }
    }
}