@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shrikhand&display=swap");
.bloc_page {
  max-width: 1400px;
  margin: auto;
  padding: 0;
}

/*MEDIA QUERIES tablette*/
@media screen and (min-width: 550px) and (max-width: 1024px) {
  #ensemble_buttons_fonctionnement {
    display: flex;
    flex-direction: row !important;
  }
  #ensemble_buttons_fonctionnement button {
    min-width: unset;
  }

  .buttons_fonctionnement {
    display: unset;
    align-items: unset;
  }

  .ensemble_restaurants {
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap;
  }
  .ensemble_restaurants .carte_restaurant {
    margin: 15px;
  }

  .menu .top_menu i {
    font-size: 30px !important;
  }

  .group_plats {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .ensemble_plats {
    min-width: unset !important;
  }

  .carte_plat {
    min-width: 325px;
  }

  .carte_slider {
    max-height: 80px !important;
  }

  .dessert_part {
    min-width: 70%;
    align-self: center;
  }
}
/*MEDIA QUERIES desktop*/
@media screen and (min-width: 1024px) {
  body {
    max-width: 1400px;
    margin: auto;
    padding: 0;
  }

  .img_header_menu {
    max-width: 1400px;
    max-height: 400px;
    overflow: hidden;
  }

  #ensemble_buttons_fonctionnement {
    display: flex;
    flex-direction: row !important;
  }
  #ensemble_buttons_fonctionnement button {
    min-width: unset;
  }

  .buttons_fonctionnement {
    display: unset;
    align-items: unset;
  }

  .ensemble_restaurants {
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap;
  }
  .ensemble_restaurants .carte_restaurant {
    margin: 45px;
  }

  .menu {
    min-height: 1200px;
  }

  .menu .top_menu i {
    font-size: 30px !important;
  }

  .group_plats {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .ensemble_plats {
    display: flex !important;
    flex-direction: row !important;
    max-width: 50% !important;
    justify-content: center !important;
    padding-top: 200px;
    flex: 1;
  }

  .carte_plat {
    min-width: 325px;
    max-width: 800px;
  }

  .desserts {
    margin: 0px -47px -7px auto !important;
    max-width: 30% !important;
  }

  .dessert_part {
    margin: 25px;
  }

  footer {
    z-index: 999 !important;
  }
  footer img {
    max-width: 20% !important;
  }
}
body {
  font-family: "Roboto", sans-serif;
  margin: auto;
}

.logo_ohmyfood, .top_menu h1 {
  font-family: "Shrikhand", cursive;
}

@keyframes remplissage-coeur {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  70% {
    opacity: 0, 4;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}
@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slide {
  to {
    transform: translateY(0);
  }
}
@keyframes transition {
  0% {
    margin-left: -100px;
    margin-right: 100px;
    opacity: 0;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    margin-left: 0;
    margin-right: 0px;
    opacity: 1;
  }
}
.loader_container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 900;
  pointer-events: none;
  animation: fade-out 2.5s ease-out forwards;
  width: 100%;
}
.loader_container .loader {
  width: 100px;
  height: 100px;
  border: 15px solid transparent;
  border-top-color: #9356dc;
  border-bottom-color: #ff79da;
  border-radius: 50%;
  border-width: 15px;
  animation: rotate 1.3s linear;
  animation-iteration-count: 3;
}

.button_component {
  color: white;
  background: linear-gradient(#ff79da, #9356dc);
  border-radius: 50px;
  border-width: 0px !important;
  height: 50px;
  padding: 0px 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  max-width: 60%;
  min-width: 175px;
}
.button_component:hover {
  filter: brightness(1.2);
  cursor: pointer;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.16), 0 3px 20px rgba(0, 0, 0, 0.23);
}

.buttons_fonctionnement {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-bottom: 50px;
  margin-top: 20px;
}
.buttons_fonctionnement button {
  font-weight: bold;
  position: relative;
  padding: 30px;
  margin: 20px;
  border-radius: 25px 25px 25px 25px;
  max-height: 70px;
  min-width: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-width: 0px !important;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.buttons_fonctionnement button i {
  padding-right: 20px;
}
.buttons_fonctionnement button .numero_etape_fonctionnement {
  border-radius: 50px;
  background-color: #9356dc;
  color: white;
  height: 15px;
  min-width: 15px;
  padding: 5px;
  position: absolute;
  left: -12px;
}

button:hover {
  cursor: pointer;
  background-color: #f5edff;
}
button:hover i {
  color: #9356dc;
}

@keyframes remplissage-coeur {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  70% {
    opacity: 0, 4;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}
@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slide {
  to {
    transform: translateY(0);
  }
}
@keyframes transition {
  0% {
    margin-left: -100px;
    margin-right: 100px;
    opacity: 0;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    margin-left: 0;
    margin-right: 0px;
    opacity: 1;
  }
}
.coeur_plein {
  display: none !important;
  opacity: 0;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  background: linear-gradient(#9356dc, #ff79da);
}

.heart_container {
  min-width: 30px;
  padding-right: 5px;
}
.heart_container:hover .coeur_plein {
  display: flex !important;
  animation-name: remplissage-coeur;
  animation-duration: 700ms;
  animation-fill-mode: both;
  cursor: pointer;
}
.heart_container:hover .coeur_vide {
  display: none;
}

.coeur_plein, .coeur_vide {
  font-size: x-large;
}

@keyframes remplissage-coeur {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  70% {
    opacity: 0, 4;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}
@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slide {
  to {
    transform: translateY(0);
  }
}
@keyframes transition {
  0% {
    margin-left: -100px;
    margin-right: 100px;
    opacity: 0;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    margin-left: 0;
    margin-right: 0px;
    opacity: 1;
  }
}
.ensemble_plats .carte_plat {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  background-color: white;
  color: black;
  margin-bottom: 20px;
  max-height: 80px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.ensemble_plats .carte_plat .description_plat {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  padding: 12px;
}
.ensemble_plats .carte_plat .description_plat .nom_plat {
  font-weight: bold;
  padding-bottom: 5px;
}
.ensemble_plats .carte_plat .prix_plat {
  font-weight: bold;
  width: 80px;
  align-self: flex-end;
  padding-bottom: 5px;
}
.ensemble_plats .carte_plat .check_carte {
  display: flex;
  border-radius: 0 20px 20px 0;
  justify-content: center;
  align-items: center;
  background-color: #99e2d0;
  color: white;
  font-size: x-large;
  width: 0px;
  transition: width 350ms ease-in-out;
  overflow: hidden;
}
.ensemble_plats .carte_plat .check_carte i {
  transition: transform 0.3s ease-in-out;
  transform: rotate(-180deg);
  transition-delay: 0.16s;
}

.carte_plat:hover .check_carte {
  width: 90px;
}
.carte_plat:hover .check_carte i {
  transform: rotate(0);
}

footer {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  justify-content: space-between;
  background-color: #353535;
  text-align: left;
  margin-bottom: 0px;
  padding-bottom: 10px;
}
footer img {
  position: relative;
  max-width: 30%;
  padding-left: 25px;
  padding-top: 20px;
  filter: invert(100%);
}
footer ul {
  padding-left: 20px;
}

footer a {
  color: white;
  text-decoration: none;
}
footer a .fa-utensils {
  padding-right: 15px;
}
footer a .fa-hands-helping {
  padding-right: 8px;
}

footer li {
  list-style-type: none;
  margin: 5px;
}

header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
header img {
  width: 170px;
  margin: 15px;
}
header .box_img_header {
  display: flex;
  z-index: 1;
  width: 100%;
  justify-content: center;
  box-shadow: 0 4px 3px lightgrey, 0 3px 3px grey;
}
header .head_header {
  display: flex;
  align-items: center;
}
header .head_header a {
  text-decoration: none;
  color: black;
}
header .head_header a i {
  position: absolute;
  top: 20px;
  left: 25px;
}
header .localisation_header {
  background-color: lightgray;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}
header .localisation_header i {
  margin-left: 80px;
}
header .localisation_header .label_localisation {
  margin-left: 20px;
  font-size: medium;
  background-color: lightgray;
  border: none;
}
header .box_header {
  display: flex;
  flex-direction: column;
  background-color: #f3f3f3;
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
  min-width: 100%;
  text-align: center;
  align-items: center;
}
header .box_header h1 {
  margin-top: 30px;
}
header .box_header #label_h1_header {
  margin-bottom: 20px;
}
header .box_header button {
  margin-top: 15px;
}

.loader_container {
  display: none;
}

header .box_header {
  display: none;
}

.img_header_menu {
  position: absolute;
  top: 60px;
}
.img_header_menu img {
  width: 100%;
}

.menu {
  position: relative;
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  min-width: 100%;
  margin-top: 205px;
  padding-bottom: 70px;
  border-radius: 20px 20px 0 0;
}
.menu .ensemble_plats {
  display: flex;
  flex-direction: column;
  border-radius: 20px 20px 0 0;
  justify-content: space-between;
  margin-bottom: 15px;
}
.menu .top_menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-self: flex-start;
  padding-left: 10px;
  min-width: 95%;
}
.menu .type_plat {
  text-align: left !important;
  font-weight: unset !important;
  border-bottom: 3px solid #99e2d0;
  padding-bottom: 5px;
  padding-top: 50px;
  width: 12%;
  font-size: medium;
  margin-left: 15px;
}
.menu .ensemble_type_plat {
  margin: 15px;
}
.menu .carte_plat:hover {
  cursor: pointer;
}
.menu button {
  margin-top: 30px;
  align-self: center;
}
.menu a {
  text-decoration: none;
  color: black;
}

/*ANIMATION APPARITION PLATS*/
.ensemble_plats {
  opacity: 0;
  animation: transition 1s ease-in-out 0.7s forwards;
}
.ensemble_plats .entrees {
  opacity: 0;
  animation: transition 1s ease-in-out 0.2s forwards;
}
.ensemble_plats .plats {
  opacity: 0;
  animation: transition 1s ease-in-out 0.2s forwards;
}
.ensemble_plats .desserts {
  opacity: 0;
  animation: transition 1s ease-in-out 0.2s forwards;
}

/*# sourceMappingURL=menu.css.map */
