@import "../utils/mixins";

.buttons_fonctionnement{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-bottom: 50px;
    margin-top: 20px;
    & button{
        font-weight: bold;
        position: relative;
        padding: 30px;
        margin: 15px;
        border-radius: 25px 25px 25px 25px;
        max-height: 70px;
        min-width: 300px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-width: 0px !important;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        & i{
            padding-right: 20px;
        }
        & .numero_etape_fonctionnement{
            border-radius: 50px;
            background-color: $color-primary;
            color: white;
            height: 15px;
            min-width: 15px;
            padding: 5px;
            position: absolute;
            left: -12px;
        }
    }
}

button:hover{
    cursor: pointer;
}