#buttons_fonctionnement{
    display: flex;
    flex-direction: column;
    & button{
        padding: 30px;
        margin: 10px;
        border-radius: 25px 25px 25px 25px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-width: 0px !important;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        & i{
            padding-right: 20px;
        }
    }
}

button:hover{
    cursor: pointer;
}