@import "../utils/variables";
@import "../utils/keyframes";

.loader_container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 900;
    pointer-events: none;
    animation: fade-out 2.5s ease-out forwards;
    width: 100%;
    & .loader {
        width: 100px;
        height: 100px;
        border: 15px solid transparent;
        border-top-color: $color-primary;
        border-bottom-color: $color-secondary;
        border-radius: 50%;
        border-width: 15px;
        animation: rotate 1.3s linear;
        animation-iteration-count: 3;
    }
}