@import "../utils/variables";
@import "../utils/mixins";
@import "../utils/keyframes";

.ensemble_plats {
  & .carte_plat {
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    background-color: white;
    color: black;
    margin-bottom: 20px;
    max-height: 80px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    & .description_plat {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
      padding: 12px;
      & .nom_plat {
        font-weight: bold;
        margin: 2px;
      }
    }
    & .prix_plat {
      font-weight: bold;
      width: 80px;
      align-self: flex-end;
      padding-bottom: 5px;
      text-align: center;
    }
    & .check_carte {
      display: flex;
      border-radius: 0 20px 20px 0;
      justify-content: center;
      align-items: center;
      background-color: $color-tertiary;
      color: white;
      font-size: x-large;
      width: 0px;
      transition: width 350ms ease-in-out;
      overflow: hidden;
      & i {
        transition: transform 0.3s ease-in-out;
        transform: rotate(-180deg);
        transition-delay: 0.16s;
      }
    }
    
  }
}

.carte_plat:hover {
  & .check_carte{
    width: 90px;
    i {
      transform: rotate(0);
    }
  } 
}
