@import "../utils/variables";

.menu{
    @include gray-degrade($color-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    & .top_menu{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        & i{
            position: absolute;
            right: 5px;
        }
    }
}

.ensemble_plats{
    border-radius: 20px 20px 0 0;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
    min-width: 80%;
    & .carte_plat{
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        background-color: white;
        color: black;
        margin-bottom: 20px;
        position: relative;
        align-items: flex-start;
        justify-content: center;
        min-height: 70px;
        padding-left: 10px;
        & .nom_plat{
            font-weight: bold;
            padding-bottom: 5px;
        }
        & .label_et_prix{
            flex-direction: row;
            justify-content: space-between;
            & .prix_plat{
                position: absolute;
                right: 2px;
            }
        }
    }
}

