.bloc_page{
    max-width: 1400px;
    margin: auto;
    padding: 0;
}

/*MEDIA QUERIES tablette*/
@media screen and (min-width: 480px) and (max-width: 1024px) {
    #ensemble_buttons_fonctionnement{
        display: flex;
        flex-direction: row !important;
        & button{
            min-width: unset;
        }
    }

    .buttons_fonctionnement{
        display: unset;
        align-items: unset;
    }

    .ensemble_restaurants{
        display: flex;
        flex-direction: row !important;
        flex-wrap: wrap;
        & .carte_restaurant{
            margin: 15px;
        }
    }

    .menu .top_menu i{
        font-size: 30px !important;
    }

    .group_plats{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .ensemble_plats{
        min-width: unset !important;
    }

    .plats_position_tablette{
        display: flex;
        flex-direction: column;
        margin: 15px;
    }

    .carte_plat{
        min-width: 325px;
    }

    .plats_position_tablette .carte_slider{
        margin: 0px -95px 0px auto !important;
    }

    .desserts{
        margin: 0px -105px 0px auto !important;
        max-width: 30% !important;
    }

    .check_carte{
        min-width: 45% !important;
        min-height: 98px;
    }

    .carte_slider{
        max-height: 80px !important;
    }
}

/*MEDIA QUERIES desktop*/
@media screen and (min-width: 1024px) {
    #ensemble_buttons_fonctionnement{
        display: flex;
        flex-direction: row !important;
        & button{
            min-width: unset;
        }
    }

    .buttons_fonctionnement{
        display: unset;
        align-items: unset;
    }

    .ensemble_restaurants{
        display: flex;
        flex-direction: row !important;
        flex-wrap: wrap;
        & .carte_restaurant{
            margin: 45px;
        }
    }

    .menu .top_menu i{
        font-size: 30px !important;
    }

    .group_plats{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .ensemble_plats{
        min-width: 65% !important;
    }

    .plats_position_tablette{
        display: flex;
        flex-direction: column;
        margin: 15px;
    }

    .carte_plat{
        min-width: 325px;
    }

    .desserts{
        margin: 0px -120px 0px auto !important;
        max-width: 30% !important;
    }
}