@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shrikhand&display=swap');
@import "../utils/variables";

body{
    font-family: $main-font, sans-serif;
    margin: 0;
}

.logo_ohmyfood, .top_menu h1{
    font-family: $title-font, cursive;
}