@import "../base/mediaqueries";
@import "../base/typography";
@import "../utils/variables";
@import "../utils/mixins";
@import "../components/loader-spinner";
@import "../components/button";
@import "../components/coeur";
@import "../components/button-fonctionnement";
@import "../components/restaurant";
@import "../layout/footer";
@import "../layout/header";

section a{
    text-decoration: none;
    color: black;
}

.buttons_fonctionnement h2, .restaurants h2{
    align-self: flex-start;
    padding-left: 20px;
}