@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shrikhand&display=swap');

@import "../utils/variables";
@import "../components/button";
@import "../components/coeur";
@import "../components/button-fonctionnement";
@import "../components/restaurant";
@import "../layout/footer";
@import "../layout/header";


body{
    font-family: $main-font, sans-serif;
    margin: 0;
}

.logo_ohmyfood{
    font-family: $title-font, cursive;
}