@import "../base/mediaqueries";
@import "../base/typography";
@import "../utils/variables";
@import "../utils/mixins";
@import "../components/loader-spinner";
@import "../components/button";
@import "../components/button-fonctionnement";
@import "../components/coeur";
@import "../components/plat";
@import "../layout/footer";
@import "../layout/header";

.loader_container{
    display: none;
}

header .box_header{
    display: none;
}

.img_header_menu{
    position: absolute;
    top: 60px;
    & img{
        width: 100%;
    }
}

.menu{
    position: relative;
    @include gray-degrade($color-gray);
    display: flex;
    flex-direction: column;
    min-width: 100%;
    margin-top: 205px;
    padding-bottom: 70px;
    border-radius: 20px 20px 0 0;
    & .ensemble_plats{
        display: flex;
        flex-direction: column;
        border-radius: 20px 20px 0 0;
        & h3{
            font-weight: lighter;
        }
    }
    & .top_menu{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-self: flex-start;
        padding-left: 10px;
        min-width: 95%;
    }
    & .type_plat{
        text-align: left !important;
        font-weight: unset !important;
        border-bottom: 3px solid $color-tertiary;
        padding-bottom: 5px;
        padding-top: 25px;
        width: 12%;
        font-size: medium;
        margin-left: 15px;
    }
    & .ensemble_type_plat{
        margin: 15px;
    }
    & .carte_plat{
        &:hover{
            cursor: pointer;
        }
    }
    & button{
        margin-top: 30px;
        align-self: center;
    }
    & a{
        text-decoration: none;
        color: black;
    }      
}

/*ANIMATION APPARITION PLATS*/

.ensemble_plats {
    opacity:0;
    animation: transition 1s ease-in-out 1s forwards;
    & .carte_plat{
        margin-bottom: 20px !important;
    }
    & .entrees{
        opacity:0;
        animation: transition 1.5s ease-in-out 1s forwards;
        & .apparition_1{
            animation: transition 0s ease-in-out 1.1s forwards;
        }
        & .apparition_2{
            animation: transition 1s ease-in-out 1.3s forwards;
        }
        & .apparition_3{
            animation: transition 1.3s ease-in-out 1.5s forwards;
        }
        & .apparition_4{
            animation: transition 1.5s ease-in-out 1.7s forwards;
        }
    }
    & .plats{
        opacity:0;
        animation: transition 1.5s ease-in-out 1s forwards;
        & .apparition_1{
            animation: transition 0s ease-in-out 1.5s forwards;
        }
        & .apparition_2{
            animation: transition 1s ease-in-out 1.1s forwards;
        }
        & .apparition_3{
            animation: transition 1.3s ease-in-out 1.3s forwards;
        }
    }
    & .desserts{
        opacity:0;
        animation: transition 1.5s ease-in-out 1s forwards;
        & .apparition_1{
            animation: transition 0s ease-in-out 1.5s forwards;
        }
        & .apparition_2{
            animation: transition 1s ease-in-out 1.1s forwards;
        }
        & .apparition_3{
            animation: transition 1.3s ease-in-out 1.3s forwards;
        }
    }
}