@import "../utils/variables";

@keyframes remplissage-coeur {
    0%{
        transform: scaleY(0);
        opacity: 0;
    }
    70%{
        opacity: 0,4;
    }
    100%{
        transform: scaleY(1);
        opacity: 1;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0);
      }
      to {
        transform: rotate(360deg);
      }
}

@keyframes fade-out {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes slide {
    to {
      transform: translateY(0);
    }
  }

@keyframes transition {
    0%   { 
      margin-bottom: -90px;
      margin-top: 90px;
      opacity:0; 
    }
    50%{
      opacity: 0.3;
    }
    100% { 
      margin-bottom: 0px;
      margin-top: 0px;
      opacity:1; 
    }
}