@import "../utils/variables";

@mixin gray-degrade($color: $color-gray) {
    background-color: lighten($color, 45%);
}

@mixin flex($direction, $justify, $align: baseline) {
    display: flex; 
    align-items: $align;
    flex-direction: $direction;
    justify-content: $justify;
}

@mixin decline-green-new ($color: $color-tertiary) {
    color: darken($color, 35%);
}

@mixin apparition {
    opacity:0;
    & .apparition_1{
        animation: transition 0s ease-in-out 1.1s forwards;
    }
    & .apparition_2{
        animation: transition 1s ease-in-out 1.3s forwards;
    }
    & .apparition_3{
        animation: transition 1.3s ease-in-out 1.5s forwards;
    }
    & .apparition_4{
        animation: transition 1.5s ease-in-out 1.7s forwards;
    }
}