@import "../utils/variables";

@mixin gray-degrade($color: $color-gray) {
    background-color: lighten($color, 45%);
}

@mixin flex($direction, $justify, $align: baseline) {
    display: flex; 
    align-items: $align;
    flex-direction: $direction;
    justify-content: $justify;
}

@mixin decline-green-new ($color: $color-tertiary) {
    color: darken($color, 35%);
}